<mat-toolbar color="primary">
  <mat-toolbar-row class="nav-header">
    <button mat-button class="nav-brand" routerLink="">
      Al Movie
    </button>

    <button mat-button routerLink="/movies">
      <mat-icon>movie</mat-icon>
      Movies
    </button>

    <button mat-button routerLink="/actors">
      <mat-icon>face</mat-icon>
      Actors
    </button>

    <span class="nav-spacer"></span>

    <button mat-button>
      <mat-icon class="example-icon">input</mat-icon>
      Ingresar
    </button>
  </mat-toolbar-row>
</mat-toolbar>

