<mat-card class="card__container" fxLayout="row">

  <div class="card__image">
    <a routerLink="/movies/{{ movie.id }}">
      <img src="https://image.tmdb.org/t/p/w185_and_h278_bestv2/{{movie.poster_path}}" alt="movie">
    </a>
  </div>

  <div fxLayout="column" class="card__content">
    <mat-card-header>
      <mat-card-title>
        <a routerLink="/movies/{{ movie.id }}" style="text-decoration: none; color: rgba(0, 0, 0, 0.87);">
          {{ movie.title }}
        </a>
      </mat-card-title>
      <mat-card-subtitle>{{ movie.release_date | date }}</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
      <p class="card__content-overview">
        {{ movie.overview | truncate: 213}}
      </p>
    </mat-card-content>
  </div>

</mat-card>

