<div class="detail__info" fxLayout="row">
  <mat-list role="list">
    <ng-container *ngFor="let item of info | keys">
      <mat-list-item role="listitem">
        <strong>{{ item.key | titlecase }}: </strong>
      </mat-list-item>
      <mat-list-item class="detail__info-list-item--value">
        <span *ngIf="item.key == 'homepage'; else other_span" [innerHtml]="item.value | linkifystr"></span>
        <ng-template #other_span>
          <span>{{ item.value }}</span>
        </ng-template>
      </mat-list-item>
    </ng-container>

    <ng-container *ngIf="genres">
      <mat-list-item role="listitem">
        <strong>Genres:</strong>
      </mat-list-item>

      <mat-list-item role="listitem">
        <div fxLayout="row wrap" style="margin-top: 3rem;">
          <ng-container *ngFor="let genre of genres">
            <button class="detail__info-btn" mat-raised-button color="accent">{{ genre.name }}</button>
          </ng-container>
        </div>
      </mat-list-item>
    </ng-container>

    <mat-list-item role="listitem" style="margin-top: 3rem;">
      <ng-container *ngIf="loggedIn">
        <mat-checkbox color="warn" (change)="listenCheckbox($event)" [checked]="favorite">
          <strong>Add to Favorite</strong>
        </mat-checkbox>
      </ng-container>
    </mat-list-item>

  </mat-list>
</div>
