<div fxLayout="row" fxLayoutAlign="space-between" style="padding-bottom: 3rem;">
  <div dragScroll drag-scroll-y-disabled="true" scrollbar-hidden="true" class="home__carousel-header">
    <div fxLayout="row" fxLayoutAlign="space-between center">
      <ng-container *ngFor="let movie of popularMovies">
        <div class="home__cover" [ngStyle]="{ 'background': 'url(' + movie.backdrop_path + ')'}">
          <div class="home__shadow" fxLayout="column-reverse">
            <div class="home__info">
              <a routerLink="/movies/{{movie.id}}" class="a">
                <h3 class="home__title">{{ movie.title }}</h3>
                <h5 class="home__subtitle">{{ movie.release_date }}</h5>
              </a>
            </div>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</div>

<div class="container">
  <ng-container *ngFor="let genre of genres">
      <mat-divider></mat-divider>
      <h3>{{ genre | titlecase }} movie</h3>
      <div class="home__carousel" dragScroll drag-scroll-y-disabled="true" scrollbar-hidden="true" #nav>
          <div fxLayout="row">
            <ng-container *ngFor="let movie of movies[genre]">
              <div class="home__card">
                <app-card-movie [movie]="movie" [compactView]="true"></app-card-movie>
              </div>
            </ng-container>
          </div>
        </div>
  </ng-container>
</div>
