<app-detail-header [data]="movie.header"></app-detail-header>

<div fxLayout="row" fxlayoutalign="space-between center" class="container">

  <div class="detail__container--one">
    <app-detail-info [info]="movie.info" [genres]="movie.genres" (saveFavorite)="listenFavorite($event)" [favorite]="favorite.favorite"></app-detail-info>
  </div>

  <div class="detail__container--two">
    <mat-tab-group mat-stretch-tabs class="detail__tabs" (selectedTabChange)="tabChange($event)">
      <mat-tab label="Casting">
        <div fxLayout="row" fxLayoutAlign="end center" class="detail__slide">
          <mat-slide-toggle (change)="changeSlide($event)">Full Cast</mat-slide-toggle>
        </div>
        <div fxLayout="row wrap" fxLayoutAlign="space-between">
          <ng-container *ngFor="let actor of cast">
            <app-card-actor [actor]="actor" [styleMovie]="true"></app-card-actor>
          </ng-container>
        </div>
      </mat-tab>
      <mat-tab label="Trailers">
        <ng-container *ngFor="let video of videos.trailer">
          <div fxLayout="column" fxLayoutAlign="center center">
            <app-movie-detail-video [video]="video"></app-movie-detail-video>
          </div>
        </ng-container>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>

<div fxLayout="column" fxLayoutAlign="start" class="container detail__container--three">
  <mat-divider></mat-divider>
  <h2>Recommendations</h2>
  <div fxLayout="row wrap" fxLayoutAlign="space-between">
    <ng-container *ngFor="let movie of recommendation">
      <app-card-movie [movie]="movie" [compactView]="true" [styleActor]="true"></app-card-movie>
    </ng-container>
  </div>
</div>

<router-outlet></router-outlet>
