.detail {
  &__container {
    &--one {
      width: 30%;
    }
    &--two {
      width: 70%;
    }
    &--three {
      padding: 4rem 0 0;
    }
  }
  &__tabs {
    width: 100%;
  }
  &__slide {
    padding: 2rem 0 1rem;
  }
}
