<app-detail-header [data]="actor.header"></app-detail-header>

<div fxLayout="row" fxlayoutalign="space-between center" class="container">
  <div class="detail__container--one">
    <app-detail-info [info]="actor.info"></app-detail-info>
  </div>
  <div class="detail__container--two">
    <mat-tab-group mat-stretch-tabs class="detail__tabs">
      <mat-tab label="Known For">
        <div fxLayout="row" fxLayoutAlign="end center" class="detail__slide">
          <mat-slide-toggle (change)="changeSlide($event)">Full Movies</mat-slide-toggle>
        </div>
        <div fxLayout="row wrap" fxLayoutAlign="space-between center">
          <ng-container *ngFor="let movie of cast">
            <app-card-movie [movie]="movie" [compactView]="true" [styleActor]="true"></app-card-movie>
          </ng-container>
        </div>
      </mat-tab>
      <mat-tab label="Images">
        <div fxLayout="row wrap" fxLayoutAlign="space-between center">
          <ng-container *ngFor="let image of images.images">
            <a href="{{image.file_url}}" target="_blank">
              <mat-card class="image__container">
                <img mat-card-image src="{{image.file_path}}" alt="{{actor.header.title}}">
              </mat-card>
            </a>
          </ng-container>
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
