.detail {
  &__container {
    &--one {
      width: 30%;
    }
    &--two {
      width: 70%;
    }
  }
}
.detail__tabs {
  width: 100%;
}

.mat-card {
  padding: 24px 24px 0;
}
.image__container {
  height: 280px;
  width: 170px;
  margin: 2rem 0 ;
}
