<app-detail-header [data]="actor.header"></app-detail-header>

<div fxLayout="row" fxlayoutalign="space-between center" class="container">
  <div class="detail__container--one">
    <app-detail-info [info]="actor.info"></app-detail-info>
  </div>
  <div class="detail__container--two">
    <mat-tab-group mat-stretch-tabs class="detail__tabs">
      <mat-tab label="Known For">
        <div fxLayout="row wrap" fxLayoutAlign="space-between center">
          <!-- <ng-container *ngFor="let cast of casting.cast">
            <app-movie-list-card [movie]="cast" [compactView]="true" [styleActor]="true"></app-movie-list-card>
          </ng-container> -->
        </div>
      </mat-tab>
      <mat-tab label="Images"> Content 2 </mat-tab>
    </mat-tab-group>
  </div>
</div>
