<app-actor-detail-header [actor]="actor.header"></app-actor-detail-header>

<div fxLayout="row" fxlayoutalign="space-between center" class="container">
  <div class="detail__container--one">
    <app-actor-detail-info [info]="actor.info"></app-actor-detail-info>
  </div>
  <div class="detail__container--two">
    <mat-tab-group mat-stretch-tabs class="detail__tabs">
      <mat-tab label="Known For"> lorem</mat-tab>
      <mat-tab label="Acting"> Content 2 </mat-tab>
    </mat-tab-group>
  </div>
</div>
