<mat-card [ngClass]="{
  'movie__card--actor-container': styleActor,
  'movie__card-container': !styleActor
}" fxLayout="row">

  <div [ngClass]="{'movie__card-image': !styleActor}">
    <a routerLink="/movies/{{ movie.id }}">
      <img [ngClass]="{'movie__card--actor-image': styleActor}" src="{{ movie.poster_path }}" alt="{{ movie.title }}">
    </a>
  </div>

  <ng-container *ngIf="!compactView">
    <div fxLayout="column" class="movie__card-content">
      <mat-card-header>
        <mat-card-title>
          <a routerLink="/movies/{{ movie.id }}" class="a">
            {{ movie.title }}
          </a>
        </mat-card-title>
        <mat-card-subtitle>{{ movie.release_date }}</mat-card-subtitle>
      </mat-card-header>

      <mat-card-content>
        <p class="movie__card-content-overview">
          {{ movie.overview }}
        </p>
      </mat-card-content>
    </div>
  </ng-container>

</mat-card>
