.actor__card {
  width: 180px;
  margin: 2rem 0;
  text-align: center;
  &-title {
    margin-bottom: 0 !important;
    font-size: 1.2rem;
    padding: 0.5rem 0;
  }
}
.mat-card-image{
  margin-bottom: 0 !important;
}

// Styles for when the component is called from movie
.actor__card--movie {
  width: 100px;
  margin: 1.5rem 1rem 1rem 0;
  text-align: center;
  &-title{
    margin-bottom: 0 !important;
    font-size: 1rem;
    padding: 0.5rem 0;
  }
  &-subtitle {
    margin-bottom: 0.5rem !important;
  }
}
