<div class="container">
  <div fxLayout="row" fxLayoutAlign="space-between center" class="list__menu">
    <app-movie-list-menu [options]="menu" (optionMenu)="listenMenu($event)"></app-movie-list-menu>
    <mat-slide-toggle (change)="changeSlide($event)">Compact View</mat-slide-toggle>
  </div>

  <div fxLayout="row wrap" fxLayoutAlign="space-between">
    <ng-container *ngFor="let movie of movies.movies">
      <app-card-movie [movie]="movie" [compactView]="checkedSlide"></app-card-movie>
    </ng-container>
  </div>

  <div fxLayout="row" fxLayoutAlign="center center">
    <app-paginator
      [length]="movies.paginator.total_pages"
      [pageSize]="movies.paginator.page_size"
      (pageIndex)="listenPaginator($event)">
    </app-paginator>
  </div>
</div>
